#backButton, #backButton2 {
    border-radius: 4px;
    padding: 8px;
    border: none;
    font-size: 16px;
    background-color: #2eacd1;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.invisible {
    display: none;
}
.container{
    padding: 5px;
}
#upload{
    text-align: left;
}
.jumbotron{
    text-align: center;
    padding-bottom: 32px;
}
#upload-form{
    text-align: left;
}
